<div class="container-fluid mt-10 p-t-10 text-center">
  <h1>Introduction</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <p>Many sites and job listings are looking for Ruby developers, specifically using the Rails Framework.  
            I wanted to try to put together my own 
            <a href="https://guides.rubyonrails.org/getting_started.html"> Ruby on Rails</a> 
            app to gain my own experience on developing one.
        </p>
        <p>
            I am a pretty experienced developer with 7 years experience on a php proprietary framework.  
            From the time I started learning ruby (very fast) and then rails, start to this current state: <em>30 hours</em>.
        </p>
        <p>
            Would I continue developing more with Ruby?  Maybe.  Best metric to check: 
            <a href="https://www.tiobe.com/tiobe-index/">TIOBE Index</a>
            For a little while, Ruby [on Rails] was in the Top 10!  By about 2020 ish, Ruby 
            completely dropped out of the Top 10, likely to never see it again due to other 
            MVC frameworks having greater scalability and performance.
            However, its still good experience, after adding features in other MVC frameworks,
            to learn the Ruby On Rails equivalent.
        </p>
    </div>
</div>