<style>
    ul {
        list-style: none;
    }

    ul li.check:before  {
        content: '✓';
    }

    .check {
        margin-top: 10px
    }
</style>

<div class="container-fluid mt-10 p-t-10 text-center">
  <h1>Job Search Tips!</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <ul>
            <li class="check"> Resume Writer: Only have one written by a professional who 
                <em>specializes in Software Engineering </em>resumes.  Read multiple reviews!</li>
            <li class="check"> Health Benefits?  Some jobs don't offer them.  ObamaCare might cover some of the cost.  
                However, those plans are terrible!  Either stick with larger companies or negotiate a higher
                salary with smaller companies to compensate for the high cost of premiums, deductables, and copays!</li>
            <li class="check"> What is the Pay Range?  In the State of California, all employers are <em> required by law</em>
                to fully disclose the pay range.  In 2023, some employers were offering a pay range of... $25 to $35 an hour!
                Others in the $100k to $130k, and still others $150k to $215k...</li>
            <li class="check"> Employee Reviews.  Check out their standing on <a href="glassdoor.com">Glassdoor</a> 
                and other sites!  Don't be stuck in a terrible corporate environment.</li>
            <li class="check"> Skills Growth. What new skills will you be learning?  And, where are those skills located on the 
                <a href="https://www.tiobe.com/tiobe-index/">TIOBE Index</a>?  Is there a future for those skills?  </li>
            <li class="check"> Work-Life Balance.  Do they allow to work from home?  Flexible Hours?  
                Can longer breaks be taken to run errands, doctor's visits, walks, and bike rides?</li>
            <li class="check"> Read their Diversity, Equity, and Inclusion Statement.  Be extra wary of businesses
                located in unfriendly states!</li>
            <li class="check"> Does the company allow for gig work on the side (to offset lower pay?)?</li>
            <li class="check"> Social Networking.  Companies review your posts and network.  Is there anybody on Facebook 
                or LinkedIn you'd rather them not see?</li>
            <li class="check"> Its always best to look for work when you alrady have a job.  It may be a slower search, but
                you're able to say no to lower pay.  Plus, the stress level of having no income while searching is PAINFUL!
            </li>
            <li class="check"> Do they look at extra projects that you've worked on? Participate in open source projects.  
                Create your own project website and share the url and open up the repository on GitHub.</li>
        </ul>
    </div>
    <div class="row">
        <strong><em>Good Luck!</em></strong>
    </div>
</div>

