

<h1>JobSites#index</h1>
<p id='hello'>Hola amiga!</p>

<table id='dt'>
    <tr>
        <th>Site Name</th>
        <th>Site URL</th>
        <th>Resume Last Updated</th>
    </tr>
    <tr>
        <td>Linked In</td>
        <td>linkedin.com</td>
        <td>Friday</td>
    </tr>
</table>

<%= link_to "New Job Site", new_job_site_path %>