<h1><%= @job_site.title %></h1>


<p><%= @job_site.body %></p>
<ul>
  <li><%= link_to "Edit", edit_job_site_path(@article) %></li>
  <li><%= link_to "Destroy", job_site_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>