
<div class="mt-5 text-center">
  <h1>Postings Applied Per Job Search Sites </h1>
</div>


<div class="container mt-5">
    <table id='per_site_report_dt' class="table table-striped" style="width:100%">
        <thead>
            <th>Site Name</th>
            <th>Site Count</th>
        </thead>

        <tbody>
        <% @reportData.each do |report_row| %>
        <tr>
            <td><%= report_row['name'] %></td>
            <td><%= report_row['site_count'] %></td>
        </tr>
        <% end %>
        </tbody>
    </table>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    // JavaScript, NOT jquery... jquery not likely loaded yet!
  console.log("Hello World!");
  console.log("index.js ready func")
      new DataTable('#per_site_report_dt', {
    });
});
</script>